python-doctr[torch]
opencv-python
Pillow
pytesseract
PyYAML
numpy>=1.24,<2.0
pandas
pdf2image
PyMuPDF
PyPDF2
tqdm
office365-rest-python-client
openpyxl
easyocr
python-dotenv==1.0.1
pathlib~=1.0.1
future~=1.0.0
loguru~=0.7.3
pytest~=8.4.1
requests~=2.32.4