python-doctr[torch]
opencv-python~=4.11.0.86
Pillow~=11.3.0
pytesseract~=0.3.13
PyYAML~=6.0.2
numpy>=1.24,<2.0
pandas~=2.3.1
pdf2image~=1.17.0
PyMuPDF
PyPDF2~=3.0.1
tqdm~=4.67.1
office365-rest-python-client
openpyxl~=3.1.5
easyocr
python-dotenv==1.0.1
pathlib~=1.0.1
future>=0.18.3
loguru~=0.7.3
pytest~=8.4.1
requests~=2.32.4
pyodbc~=5.0.1
