input_pdf: ./data/sample.pdf
input_dir: ./data/
batch_mode: false

output_dir: C:/Users/brian.atkins/OneDrive - Lindamood Demolition/24-105 PHMS NPC
  - Documents/truck tickets/2025-07-16
output_format:
- csv
- excel
- vendor_pdf
pdf_resolution: 150
pdf_scale: 1.0

output_csv: ./output/ocr/all_results.csv
ticket_numbers_csv: ./output/ocr/combined_ticket_numbers.csv
page_fields_csv: ./output/ocr/page_fields.csv
manifest_number_exceptions_csv: ./output/logs/manifest_number/manifest_number_exceptions.csv
output_images_dir: ./output/images/

csv_filename: results.csv
combined_pdf: true

extraction_rules_yaml: ./extraction_rules.yaml
ocr_engine: doctr

draw_roi: true
orientation_check: tesseract  # tesseract, doctr, or none
pdf_scale: 1.0  # scale vendor PDFs (1.0 = original size)
pdf_resolution: 150
save_corrected_pdf: true
corrected_pdf_path: ./output/ocr/corrected.pdf
parallel: true
num_workers: 4

poppler_path: C:/Poppler/poppler-24.08.0/Library/bin
profile: false
debug: false
sharepoint_config:
  credentials:
    password: password
    username: user@company.com
  folder: Tickets2025
  library: Documents
  site_url: https://company.sharepoint.com/sites/TruckTickets
vendor_keywords_csv: ./ocr_keywords.csv
